class Config
    constructor: ->
        @apiVersion = "v0"
        @port = 3000
        @host = "localhost"
        @url = "http://#{@host}:#{@port}"
        @db =
            host: "localhost"
            name: "vidatio"
        @dirs =
            log: "./logs"

        @mongo  = do =>
            switch process.env.NODE_ENV
                when "test"
                    return "#{ @db.host }/#{ @db.name }_test"
                when "development"
                    return "#{ @db.host }/#{ @db.name }_develop"
                when "production"
                    return "#{ @db.host }/#{ @db.name }_prod"
                else
                    return "#{ @db.host }/#{ @db.name }"

module.exports = new Config
