.app/
.grunt/
.gulp/
.rebooted
.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pyc
*.bak

pids
logs
results

npm-debug.log
node_modules

*.sublime-project
*.sublime-workspace

builtAssets/
tmp/
out/
build/

userconfig.coffee
userconfig*
config.coffee

modules/config.coffee

public/css/app.css
public/js/app.js
.coverrun
